.kcal-container {
    display: flex;
    width: 100vw;
    height: 75vh;
}

.kcal-inner-container {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    height: auto;
    padding-top: 3.5vh;
    width: auto;
    border: 1px blue solid;
}

.title {
    padding-bottom: 5vh;
}

.title > h2 {
    color: var(--darkcolor);
}

.kcalsearchcontainer {
    display: flex;
    padding-bottom: 3vh;
}

.kcalsearchbox {
    height: 3rem;
    display: flex;
    border: 1px black solid;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.3rem;
}

#kcalsearch {
    border: none;
    height: 38px;
    width: 15rem;
    outline: none;
    text-align: center;
}

#kcalsearch:hover {
    cursor: pointer;
}

#kcalsearch:focus::placeholder {
    color: transparent;
    transition: 0.5s;
}

.searchbttn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightcolor);
    width: 8rem;
    border-radius: 0.3rem;
}

#kcal-search-bttn {
    margin-left: 2rem;
}

.searchbttn:hover, .searchbttn:hover > p {
    cursor: pointer;
    background-color: var(--lighthovercolor);
    transition: 0.5s;
}
.searchbttn:active  {
    transform: scale(0.85);
}
.serving-bar {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3vh;
}

#servingamount {
    height: 40px;
    border-radius: 0.3rem;
    width: 6rem;
    text-align: center;
    outline: 0;
    border: 1px black solid;
}
#servingamount:hover {
    cursor: pointer;
}
.addbttn {
    display: flex;
    background-color: var(--lightcolor);
    border-radius: 0.3rem;
    padding: 0.2rem;
    width: 5rem;
    justify-content: center;
    align-items: center;
}
.addbttn:active    {
    transform: scale(0.85);
}

.addbttn:hover, .addbttn:hover > p {
    cursor: pointer;
    background-color: var(--lighthovercolor);
    transition: 0.5s;
}

#info-container {
    min-height: auto;
}


.kcal-info-table > table {
    margin-top: 1rem;
    color: black;
}

.kcal-results {
    min-height: max-content;
    border: 1px red solid;
    background: none;
}

.resultstable {
    display: flex;
    width: auto;
    border-spacing: 1rem;
    text-align: center;
    color: var(--darkcolor);
    padding-bottom: 3vh;
}

.resultstable > td {
}