.recipe-container {
    min-height: 90vh;
    margin-right: 20%;
    margin-left: 20%;
    border: green 1px solid;
}

.recipe-inner-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    /*margin-right: 20%;*/
    /*margin-left: 20%;*/
    min-height: 100vh;
    border: yellow 1px solid;
}

.details {
    color: var(--darkcolor);
    border: blue 1px solid;
}

.details-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
}

.details-header > p {
    margin-top: 1rem;
    color: var(--darkcolor);
    margin-bottom: 0.9rem;
    padding-left: 0.5rem;
}

.details-header > h3 {
    color: var(--darkcolor);
    padding-right: 4vw;
}
.recipe-text {
    margin-left: 1rem;
    color: inherit;
}

.recipe-text > p {
    margin-top: 1rem;
    color: inherit;
}

.recipe-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: blue 1px solid;
}

.instructions {
    color: var(--darkcolor);
    border: blue 1px solid;
}

.instructions-header {
    margin-left: 1rem;
    margin-top: 1rem;
    color: inherit;
}

.instructions-header > ul, li {
    margin-left: 2rem;
    margin-top: 1rem;
    color: inherit;
}

.nutrients {
    border: blue 1px solid;
}

.nutrients-header, h4 {
    margin-top: 1rem;
    color: var(--darkcolor);
}

.nutrients-header > h4 {
    margin-left: 1rem;
}

.nutrients-table, tr, td {
    border-collapse: collapse;
    margin-top: 1rem;
    margin-left: 1rem;
    min-width: 15vw;
    color: black;
}

.labels-container {
    border: 1px red solid;
    margin-top: 1rem;
    margin-left: 20%;
    margin-right: 20%;
}
.label-inner-container  {

}
.labels-header {
    margin-left: 1rem;
    color: var(--darkcolor);
}

.l-box {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border: 1px red solid;
    width: 100%;
    height: auto;
}

.l {
    padding: 0.5em;
    width: max-content;
}
.l > p {
    background-color: var(--lightcolor);
    padding: 0.4em;
    border-radius: 100vh;
    color: whitesmoke;
}
