@font-face {
    font-family: 'austein';
    src: url('./assets/fonts/Austein/Austein.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;

}
*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --darkcolor:    hsl(227, 36%, 27%);
    --lightcolor:   hsl(204, 57%, 49%);
    background: var(--darkcolor);
    max-width: 100%;
}
/********************* Header *********************/
.header-container  {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    height: 4rem;
}
.header-item   {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-item-1 {
    justify-content: flex-start;
    min-width: 20vw;
    background-color: whitesmoke;
    font-family: 'Austein', sans-serif;
    font-style: italic;
    font-size: 2rem;
    color: var(--darkcolor);
    margin-left: 20%;
}
.header-item-2 {
    justify-content: flex-end;
    background-color: whitesmoke;
    margin-right: 20%;
}
.navbar-a {
    margin: 10px;
    background-color: whitesmoke;
}
a   {
    color: black;
    text-decoration: none black;
}
/********************* Body *********************/
/*------------------- Hero image section -------------------*/
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("./assets/images/hero-image.jpg") no-repeat center / cover;
    width: 100vw;
    height: 50vh;
}
.hero-text  {
    background: none;
    margin-left: 20%;
    margin-right: 20%;
    color: whitesmoke;
    font-size: 3rem;
}
.random-search {
    background: none;
    margin-left: 20%;
    margin-right: 20%;
}
.random-recipes-bttn    {
    width: 8rem;
    height: 2rem;
    background-color: var(--lightcolor);
    border: rgb(0, 0, 0 ,30%) 1px solid;
    border-radius: 0.3rem;
    margin-top: 4rem;
}
.random-recipes-bttn:hover {
    cursor: pointer;
    background-color: hsl(204, 57%, 59%);
}
/*------------------- Card -------------------*/
.card   {
    background: whitesmoke;
    border-radius: 0.3rem;
    margin: 0;
    overflow: hidden;
    font-size: 0.8em;
    min-height: 200px;
    min-width: 200px;
    max-width: 600px;
    border: rgb(0, 0, 0 ,30%) 1px solid;

}
.card-header    {
    overflow: hidden;
    margin-bottom: 0.3rem;
}
.card-header.card-image > img    {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}
.card-body  {
    background-color: whitesmoke;
}
.card-body > p  {
    padding-left: 1em;
    background: whitesmoke;
}
.card-footer    {
    display: inline-flex;
    padding-left: 1em;
    margin-bottom: 0.3rem;
    background: whitesmoke;
}
.card-footer > i   {
    margin-left: 6.5vw;
    background: whitesmoke;
}
.card-footer > p    {
    background: whitesmoke;
}
.card:hover  {
    transition: 0.5s;
    transform: scale(120%);
}
/*------------------- Image slider -------------------*/
.slider-container   {
    display: flex;
    min-height: 20vh;
    background-color: whitesmoke;
}
.slider-inner-container {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: space-between;
    min-height: inherit;
    background-color: inherit;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
/*------------------- Searchbar -------------------*/
.searchbar-container    {
    display: flex;
    min-height: 12vh;
}
.searchbar-inner-container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 12vh;
    min-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.search {
    text-align: right;
    font-family: 'FontAwesome';
    width: 20%;
    min-height: 3vh;
    border-radius: 0.3rem;
    background: whitesmoke;
    border: rgb(0, 0, 0 ,30%) 1px solid;
    font-size: 1em;
}
.dropdown   {
}
.dropdown-selection {
    width: 8vw;
    min-height: 3vh;
    padding-left: 10%;
    border-radius: 0.3rem;
    background: whitesmoke;
    border: rgb(0, 0, 0 ,30%) 1px solid;
    font-size: 0.9em;
}
.dropdown-selection > option    {
    background-color: whitesmoke;
}
.searh-bttn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 8vw;
    min-height: 3vh;
    border-radius: 0.3rem;
    background: var(--lightcolor);
    border: rgb(0, 0, 0 ,30%) 1px solid;
}
.searh-bttn > p, i {
    background: var(--lightcolor);
    font-size: 1.1em;
}
.searh-bttn:hover, .searh-bttn:hover > p, .searh-bttn:hover > i  {
    background-color: hsl(204, 57%, 59%);
    cursor: pointer;
}
/*----------- Search results -------------------*/
.searchresult-container {
    min-height: 40vh;
    background-color: whitesmoke;
}
.searchresult-inner-container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-auto-rows: auto;
    grid-row-gap: 4rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    min-height: inherit;
    margin-left: 20%;
    margin-right: 20%;
    background-color: inherit;
    padding-top: 3%;
    padding-bottom: 3%;
}
/********************* Recipe-detail.html *********************/
.recipe-container  {
    min-height: 90vh;
    background-color: whitesmoke;
}
.recipe-inner-container    {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-right: 20%;
    margin-left: 20%;
    min-height: 100vh;
    background-color: whitesmoke;
}
.details    {
    background-color: whitesmoke;
    color: var(--darkcolor);
}
.details-header {
    display: flex;
    justify-content: flex-start;
    margin-left: 1rem;
    background-color: inherit;
    color: inherit;
}
.details-header > p, h3 {
    margin-top: 1rem;
    background-color: inherit;
    color: inherit;
}
.details-header > i {
    margin-top: 1.1rem;
    margin-left: 5rem;
    background-color: inherit;
    color: inherit;
}
.recipe-text    {
    margin-left: 1rem;
    background-color: inherit;
    color: inherit;
}
.recipe-text > p    {
    margin-top: 1rem;
    background-color: inherit;
    color: inherit;
}
.recipe-image   {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.instructions   {
    background-color: whitesmoke;
    color: var(--darkcolor);
}
.instructions-header    {
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: inherit;
    color: inherit;
}
.instructions-header > ul, li  {
    margin-left: 2rem;
    margin-top: 1rem;
    background-color: inherit;
    color: inherit;
}
.nutrients  {
    background-color: whitesmoke;
}
.nutrients-header, h4   {
    margin-top: 1rem;
    background-color: whitesmoke;
    color: var(--darkcolor);
}
.nutrients-header > h4 {
    margin-left: 1rem;
}
.nutrients-table, tr, td  {
    border-collapse: collapse;
    margin-top: 1rem;
    margin-left: 1rem;
    min-width: 15vw;
    background-color: whitesmoke;
    color: black;
}
.labels {
    background-color: whitesmoke;
}
.labels-header  {
    margin-left: 1rem;
    background-color: inherit;
    color: var(--darkcolor);
}
/********************* Footer *********************/
.footer-container   {
    display: flex;
    flex-direction: row;
    margin-top: 4.5rem;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: space-between;
}
.footer-title   {
    color: var(--lightcolor);
}
.footer-item    {
    color: whitesmoke;
}
.fa-brands  {
    color: var(--lightcolor);
    width: 3rem;
}
.fa-brands:hover    {
    transition: 0.5s;
    transform: scale(150%);
    color: hsl(204, 57%, 59%);
}
