@font-face {
    font-family: 'austein';
    src: url('./assets/fonts/Austein/Austein.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;

}
*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --darkcolor:    hsl(227, 36%, 27%);
    --lightcolor:   hsl(204, 57%, 49%);
    --lighthovercolor:  hsl(204, 57%, 59%);
    max-width: 100%;
    background-color: white;
}
.fa-clock-rotate-left   {
    background-color: white;
}
/******************************************Header******************************************/
.header-container  {
    display: flex;
    justify-content: space-between;
    min-height: 5rem;
    padding-top: 0.3rem;
    background-color: whitesmoke;
}
.header-item   {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-item-1 {
    justify-content: flex-start;
    min-width: 20vw;
    font-family: 'Austein', sans-serif;
    font-style: italic;
    font-size: 2rem;
    color: var(--darkcolor);
    margin-left: 20%;
    background-color: whitesmoke;
}
.header-item-2 {
    justify-content: flex-end;
    margin-right: 20%;
    background-color: whitesmoke;
}
.navbar-a {
    margin: 10px;
    background-color: whitesmoke;
}
a   {
    color: black;
    text-decoration: none black;
    background-color: whitesmoke;
}
/******************************************Body******************************************/
/*--------------------------------------Hero image section--------------------------------------*/
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("./assets/images/hero-image.jpg") no-repeat center / cover;
    width: 100vw;
    height: 50vh;
}
.hero-text  {
    background: none;
    margin-left: 20%;
    margin-right: 20%;
    color: whitesmoke;
    font-size: 3rem;
}
.random-search {
    background: none;
    margin-left: 20%;
    margin-right: 20%;
}
.random-recipes-bttn    {
    width: 8rem;
    height: 2rem;
    background-color: var(--lightcolor);
    border: rgb(0, 0, 0 ,30%) 1px solid;
    border-radius: 0.3rem;
    margin-top: 4rem;
}
.random-recipes-bttn:hover {
    cursor: pointer;
    background-color: var(--lighthovercolor)
}
/*--------------------------------------Image slider--------------------------------------*/
.slider-container   {
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
    place-items: center;
    overflow: hidden;
    position: relative;
    border: 1px red solid;
    display: grid;
}
.slide-track    {
    display: flex;
    width: calc(300px * 20);
    border: yellow 1px solid;
    animation: scroll 60s linear infinite;
    overflow: hidden;
}
@keyframes scroll {
    0% {
        transform: translatex(0);
    }
    100% {
        transform: translatex(calc(-300px * 10));;
    }
    
}
/*--------------------------------------Slide--------------------------------------*/
.slide   {
    border-radius: 0.3rem;
    margin: 0;
    overflow: hidden;
    font-size: 0.8em;
    min-height: 200px;
    width: 300px;
}
.slide-header    {
    overflow: hidden;
    margin-bottom: 0.3rem;
}
.slide-header.slide-image > img    {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}
.slide-body  {
}
.slide-body > p  {
    padding-left: 1em;
}
.slide-footer    {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.3rem;
}
/*--------------------------------------Searchbar--------------------------------------*/
.searchbar-container    {
    display: flex;
    min-height: 12vh;
    background-color: var(--darkcolor);
}
.searchbar-inner-container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 12vh;
    min-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: inherit;
}
.search {
    text-align: right;
    font-family: 'FontAwesome';
    width: 20%;
    min-height: 3vh;
    border-radius: 0.3rem;
    border: rgb(0, 0, 0 ,30%) 1px solid;
    font-size: 1em;
}
.dropdown   {
    background-color: var(--darkcolor);
}
.dropdown-selection {
    width: 8vw;
    min-height: 3vh;
    padding-left: 10%;
    border-radius: 0.3rem;
    border: rgb(0, 0, 0 ,30%) 1px solid;
    font-size: 0.9em;
}
.dropdown-selection > option    {
    background-color: whitesmoke;
}
.searh-bttn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 8vw;
    min-height: 3vh;
    border-radius: 0.3rem;
    background: var(--lightcolor);
    border: rgb(0, 0, 0 ,30%) 1px solid;
}
.searh-bttn > p, i {
    background: var(--lightcolor);
    font-size: 1.1em;
}
.searh-bttn:hover, .searh-bttn:hover > p, .searh-bttn:hover > i  {
    background-color: var(--lighthovercolor);
    cursor: pointer;
}
/*------------------------------Search results--------------------------------------*/
.searchresult-container {
    min-height: 40vh;
}
.searchresult-inner-container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-auto-rows: auto;
    grid-row-gap: 4rem;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    min-height: inherit;
    margin-left: 20%;
    margin-right: 20%;
    background-color: inherit;
    padding-top: 3%;
    padding-bottom: 3%;
}
/*--------------------------------------Card--------------------------------------*/
.card   {
    border-radius: 0.3rem;
    margin: 0;
    overflow: hidden;
    font-size: 0.8em;
    height: auto;
    width: auto;
    min-width: 300px;
    border: rgb(0, 0, 0 ,30%) 1px solid;

}
.card-header    {
    overflow: hidden;
    margin-bottom: 0.3rem;
}
.card-header.card-image > img    {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
}
.card-body  {
}
.card-body > p  {
    padding-left: 1em;
}
.card-footer    {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.3rem;
}
.card:hover  {
    transition: 0.5s;
    transform: scale(120%);
}
/******************************************Recipe-detail.html******************************************/
.recipe-container  {
    min-height: 90vh;
}
.recipe-inner-container    {
    display: grid;
    grid-template-columns: repeat(2, 60%);
    margin-right: 20%;
    margin-left: 20%;
    min-height: 100vh;
}
.details    {
    color: var(--darkcolor);
}
.details-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
    border: 1px red solid;
}
.details-header > p {
    margin-top: 1rem;
    color: var(--darkcolor);
    margin-bottom: 0.9rem;
    padding-left: 0.5rem;
}
.details-header > h3    {
    color: var(--darkcolor)
}
.details-header > i {
    margin-top: 1.1rem;
    margin-left: 5rem;
    background-color: white;
    padding-bottom: 1.2rem;
}
.recipe-text    {
    margin-left: 1rem;
    color: inherit;
}
.recipe-text > p    {
    margin-top: 1rem;
    color: inherit;
}
.recipe-image   {
    display: flex;
    justify-content: center;
    align-items: center;
}
.instructions   {
    color: var(--darkcolor);
}
.instructions-header    {
    margin-left: 1rem;
    margin-top: 1rem;
    color: inherit;
}
.instructions-header > ul, li  {
    margin-left: 2rem;
    margin-top: 1rem;
    color: inherit;
}
.nutrients  {
}
.nutrients-header, h4   {
    margin-top: 1rem;
    color: var(--darkcolor);
}
.nutrients-header > h4 {
    margin-left: 1rem;
}
.nutrients-table, tr, td  {
    border-collapse: collapse;
    margin-top: 1rem;
    margin-left: 1rem;
    min-width: 15vw;
    color: black;
}
.labels {
    display: inline;
    border: 1px red solid;
    margin-top: 1rem;
}
.labels-header  {
    margin-left: 1rem;
    color: var(--darkcolor);
}
.l-box  {
    display: grid;
    grid-template-columns: repeat(4, 7vw);
    gap: 1rem;
    justify-content: flex-start;
    justify-items: center;
    align-items: center;
    padding: 1rem;
}
.l  {
    border: 1px var(--darkcolor) solid;
    background-color: var(--lightcolor);
    padding: 0.5rem;
    border-radius: 1rem;
    width: auto;
    height: auto;
    white-space: nowrap;
    font-size: 0.8em;
    color: var(--darkcolor);
    font-weight: bold;
}
/******************************************Kcal-calc.html******************************************/
.kcal-container {
    display: flex;
    border: 1px red solid;
    width: 100vw;
    height: 75vh;
}
.kcal-inner-container   {
    border: 1px yellow solid;
    margin-left: 20%;
    height: inherit;
    width: 40vw;
}
.kcal-inner-container > h3  {
    color: var(--darkcolor)
}
.kcal-search    {
}
.kcal-search > button   {
    background-color: var(--lightcolor);
}
.kcal-searchfield   {
}
.kcal-servings  {
    display: flex;
    justify-content: flex-start;
    gap: 3vw;
}
.kcal-servings, input  {
}
.kcal-servings > p  {
}
.kcal-servings > button {
    background-color: var(--lightcolor);
}
.kcal-info-table > table {
    border-collapse: collapse;
    margin-top: 1rem;
    color: black;
}
.kcal-results   {
}
.kcal-results > table {
    border-collapse: collapse;
    margin-top: 1rem;
    color: black;
}
/******************************************Footer******************************************/
.footer-container   {
    width: 100vw;
    background-color: var(--darkcolor);
    padding-bottom: 1rem;
}
.footer-inner-container   {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: space-between;
    background-color: inherit;
    padding-top: 1rem;
}
.footer-title   {
    color: var(--lightcolor);
}
.footer-item    {
    background-color: inherit;
}
.footer-item > p, h3   {
    background-color: inherit;
    color: whitesmoke;
}
.fa-brands  {
    color: var(--lightcolor);
    width: 3rem;
    background-color: inherit;
}
.fa-brands:hover    {
    transition: 0.5s;
    transform: scale(150%);
    color: hsl(204, 57%, 59%);
}
